<div class="collection-container">
  <h1 class="collection-title">
    {{ collection.title }}
  </h1>
  
</div>

{% paginate section.settings.collection.products by 10 %}
  {% for product in section.settings.collection.products %}
    {% render 'product-card', product: product %}
  {% endfor %}
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}{% endif %}
{% endpaginate %}
