<div class="product-card">
  {% for block in section.blocks %}
		<span>
			{{ section.settings.image| image_url: width: 3840, height: image_height }}
		</span>
	{% endfor %}
</div>

{% schema %}
{
  "name": "Product",
  "settings": { 
		"type": "image_picker",
		"id": "image",
		"label": "image.label"
	}
}
{% endschema %}