<div class="product-card">
	<div class="product-image">
		{{ product | image_url: width: 200 | image_tag }}
	</div>
	<p class="product-collection">
		{{ product.collection }}
	</p>
	<h4 class="product-title">
		{{ product.title }}
	</h4>
	<p class="product-price">
		{{ product.price | money }}
	</p>
</div>