<header class="header" id="header">
  <div class="navigation" id="navigation">
    <a class="header-title" src="/home">
      {% if section.settings.header != null %}
      	{{ section.settings.header | image_url: width: 200 | image_tag: width: 200 }}
			{% else %}
				<img class="lautaros-store-logo" src="../assets/lautaros-store-low-resolution-logo-black-on-transparent-background.png" alt="Logo">
			{% endif %}
    </a>
  	{% for link in linklists.main-menu.links %}
     	<a class="nav-button" href="{{ link.handle }}">{{ link.title }}</a>
    {% endfor %}
    <div class="cart-button-container">
      <button class="cart-button" @click="toggleMiniCart">
        <span>
					{% render 'cart-icon' %} 
				</span>
				0
      </button>
    </div>
  </div>
</header>

{% schema %} 
{ 
  "name": "Header",
  "tag": "section",
  "class": "section",
  "settings": [ 
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Logo"
    }, { 
      "type": "link_list", 
      "id": "menu", 
      "label": "Menu", 
      "default": "main-menu" 
    } 
  ] 
} 
{% endschema %}
