<header class="header" id="header">
  <a class="header-title" src="/home">
    {{ section.settings.brand_name }}
  </a>
  <div class="navigation" id="navigation">
  	{% for link in linklists.main-menu.links %}
     	<a class="nav-button" href="{{ link.handle }}">{{ link.title }}</a>
    {% endfor %}
  </div>
  <div class="cart-button">
      <span class="cart-icon" @click="toggleMiniCart">
        {% render 'cart-icon' %}
      </span>
      0
  </div>
</header>

{% schema %} 
{ 
  "name": "Header",
  "tag": "section",
  "class": "section",
  "settings": [ 
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "brand_name",
      "label": "Brand Name",
      "default": "BrandName"
    }, { 
      "type": "link_list", 
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    } 
  ] 
} 
{% endschema %}
