{% form 'product', product %}
	<div class="pdp-container">
		<div class="pdp-image-wrapper">
			{{ product | image_url: width: product.width | image_tag: class: 'pdp-image', loading: 'lazy' }}
		</div>
		<div class="pdp-text-buttons-wrapper">
			<div class="pdp-text-wrapper">
				<h1 class="pdp-title">
					{{ product.title }} 
				</h1>
				<h3 class="pdp-price">
					{{ product.price | money }} 
				</h3>
				<p class="pdp-description">
					{{ product.description }} 
				</p>
			</div>
			<hr />
			<div class="pdp-buttons-wrapper">
				<div class="pdp-numbers">
						<input type="number" name="quantity" min="1" value="1">
				</div>
				<div class="pdp-buy-button">
					<input type="submit" value="Agregar al carrito">
				</div>
			</div>
		</div>
	</div>
{% endform %}

{% schema %}
{
	"name": "main-product",
	"settings": [],
	"blocks": [
	{
		"name": "Product",
		"type": "product",
		"settings": [
			{
			"type": "product",
			"id": "product",
			"label": "Product"
			}
		]
	}
]
}  
{% endschema %}