{% if section.blocks.size > 1 %}
	{% for block in section.blocks %}
		<div class="swiper-slide">
			{{ section.settings.featured-image | image_url: width: 1920 | image_tag: width: 1920 }}
		</div>
	{% endfor %}
{% endif %}

{% schema %}
{
  "name": "main-slider",
	"limit": 2,
  "settings": [
		{
			"type": "slideshow",
			"id": "slider",
			"label": "slider"
		}
	],
  "blocks": [
    {
      "name": "slider-image",
			"type": "image-picker",
      "settings": [
        {
          "type": "image",
          "id": "image",
        }
      ]
    }
  ]
}
{% endschema %}