{% if section.blocks.size > 1 %}
	{% for block in section.blocks %}
		<div class="swiper-slide">
			{% include 'collection' %}
		</div>
	{% endfor %}
{% endif %}



{% schema %}
{
  "name": "main-slider",
  "max_blocks": 3,
  "settings": [
		{
			"type": "collection",
			"id": "collection",
			"label": "Collection"
		}
	],
  "blocks": [
    {
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ]
}
{% endschema %}