<div class="product-grid">
  {% for block in section.blocks %}
    {% if product.image != blank %}
      {% include 'product-card' with image: product.image %}
    {% endif %}
  {% endfor %}
</div>


{% schema %}
{
  "name": "Product Grid",
  "settings": [
		{
			"type": "collection",
			"id": "collection",
			"label": "Collection"
		}
	],
  "blocks": [
    {
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ]
}
{% endschema %}
