<div class="product-grid">
  {% if product.featured_image != blank %}
    {% include 'image-style' with image: product.featured_image %}
  {% endif %}
</div>


{% schema %}
{
  "name": "Product Grid",
  "settings": [
		{
			"type": "collection",
			"id": "collection",
			"label": "Collection"
		}
	],
  "blocks": [
    {
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ]
}
{% endschema %}
