html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 1439px;
  height: 95px;
  font-size: 1.2rem;
  padding: 40px 27px;
  position: sticky;
  top: 0; 
  z-index: 999;
  background-color: white;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
}

.header-title {
  width: 220px;
  height: 18px;
  color: black;
  font-weight: 800;
  text-align: center;
  font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
}

.header-title:hover {
  color: black;
  font-size: 22px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.navigation {
  display: flex;
  flex-flow: row;
  text-decoration: none;
}

.nav-button {
  color: #737373;
  text-align: center;
  align-items: center;
  height: 24px;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 10px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

.nav-button:hover {
  color: black;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.cart-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  gap: 5px;
  width: 56px;
  background-color: white;
  height: 46px;
  color: #23A6F0;
  border: none;
  cursor: pointer;
  left: 0px;
  top: 0px;
}

.cart-button:hover {
  font-size: 25px;
  transition: all 0.2s ease-in-out;
}

.footer {
  padding: 4rem 0 2rem 0;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-top: 1px solid gray;
  font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
}

.footer-menu {
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  text-align: left;
  box-sizing: border-box;
}

.social-icon {
  width: 23px;
  height: 23px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 8px;
  color: #23A6F0;
  cursor: pointer;
}

.social-icon:hover {
  color: deepskyblue;
  transition: all 0.1s ease-in-out;
}

.footer-title {
  width: 140px;
  height: 18px;
  color: black;
  font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
}

.footer-description {
  color: #737373;
  font-size: 14px;
}

.menu-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #252B42;
}

.menu-link {
  color: #737373;
  letter-spacing: 0.2px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

.menu-link:hover {
  opacity: 75;
  color: #252B42;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.footer-container {
  width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.website-rights {
  width: 1440px;
}

small {
  color: #737373;
  font-size: 14px;
  margin-bottom: 16px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 30%;
  background-color: white;
}

.product-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

.grid-header {
  text-align: center;
  margin-bottom: 30px;
}

.product-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 0.3rem 0.8rem;
}

.product-card {
  height: 589px;
  width: 239px;
  display: flex;
  box-shadow: none;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem 0.8rem;
  margin-bottom: 16px;
  margin-left: 50px;
  border: 2px solid whitesmoke;
}

.grid-subtitle {
  color: gray;
  margin: 20px;
}

.grid-title {
  color: black;
  font-size: 33px;
}

.product-title {
  font-weight: lighter;
  font-size: smaller;
}

.product-price {
  font-weight: bold;
  font-size: smaller;
  color: #23856D;
}

.product-image {
  width: 235px;
  height: 427px;
  padding-top: 80px
}