html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 1439px;
  height: 95px;
  font-size: 1.2rem;
  padding: 40px 27px;
  position: sticky;
  top: 0; 
  z-index: 999;
  background-color: white;
  border-bottom: 1px solid gray;
}

.header-title {
  width: 220px;
  height: 18px;
  color: black;
  font-weight: 800;
  text-align: center;
  font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
}

.header-title:hover {
  color: black;
  font-size: 22px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.navigation {
  display: flex;
  flex-flow: row;
  text-decoration: none;
}

.nav-button {
  color: #737373;
  text-align: center;
  align-items: center;
  height: 24px;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 10px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

.nav-button:hover {
  color: black;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.cart-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  gap: 5px;
  width: 56px;
  background-color: white;
  height: 46px;
  color: #23A6F0;
  border: none;
  cursor: pointer;
  left: 0px;
  top: 0px;
}

.cart-icon {
  color: #23A6F0;
}

.cart-icon:hover{
  color: deepskyblue;
  transition: all 0.1s ease-in-out;
}

.cart-button:hover {
  color: deepskyblue;
  transition: all 0.1s ease-in-out;
}

.footer {
  padding: 4rem 0 2rem 0;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-top: 1px solid gray;
  font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 800px;
  text-align: left;
  box-sizing: border-box;
}

.secondary-menu {
  padding-bottom: 25px;
}

.title-social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

.title-description {
  margin: 0 0 0 40px;
}

.footer-social {
  margin: 0 65px 0 0;
}

.social-icon {
  width: 23px;
  height: 23px;
  margin: 0 8px 0 0 ;
  color: #23A6F0;
  cursor: pointer;
}

.social-icon:hover {
  color: deepskyblue;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.footer-title {
  width: 140px;
  height: 18px;
  font-size: 18px;
  color: black;
  font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
}

.footer-title:hover {
  font-size: 20px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.footer-description {
  width: 211px;
  margin: 25px 0 25px 0;
  color: #737373;
  font-size: 14px;
}

.menu-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #252B42;
  margin-bottom: 20px;
}

.menu-link {
  color: #737373;
  letter-spacing: 0.2px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

.menu-link:hover {
  opacity: 75;
  color: #252B42;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.link-container {
  margin-top: 10px;
}

.footer-container {
  width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.website-rights {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  margin: 25px 0 27px 0;
}

small {
  color: #737373;
  font-size: 14px;
  margin-bottom: 16px;
}

.main-slider {
  position: relative;
  width: 2880;
  display: flex;
  flex-direction: row;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 80px;
}

.arrow-wrapper {
  width: 1440px;
}

.arrow-prev, .arrow-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 5;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 70px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.arrow-prev:hover, .arrow-next:hover {
  color: white;
  background-color: rgba(0,0,0,0.8);
  text-decoration: none;
}

.arrow-prev {
  left: 0;
  margin-left: 22px;
  border-radius: 3px 0 0 3px;
}

.arrow-next {
  right: 0;
  margin-right: 22px;
  border-radius: 3px 0 0 3px;
}

.text-link-wrapper {
  width: 599px;
  height: 331px;
  margin-top: 208px;
  margin-left: 197px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
  position: relative;
  z-index: 5;
  color: white;
}

.slide-title {
  font-size: 58px;
  font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

.slide-subtitle {
  font-size: 16px;
  font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

.slide-description {
  font-size: 20px;
  font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

.page-wrapper {
  text-align: center;
}

.bar {
  cursor: pointer;
  height: 15px;
  width: 45px;
  margin: 0 2px;
  background-color: white;
  opacity: 65%;
  border-radius: 8%;
  position: relative;
  z-index: 5;
  display: inline-block;
  transition: opacity 0.3s ease;
}

.active, .bar:hover {
  opacity: 100%;
}

.image-wrapper img {
  height: 716px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1
}

.product-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

.grid-header {
  text-align: center;
  margin-bottom: 30px;
}

.product-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 1.3rem 0.8rem;
}

.product-card {
  height: 589px;
  width: 239px;
  display: flex;
  box-shadow: none;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem 0.8rem;
  margin-bottom: 16px;
  margin-left: 50px;
  border: 2px solid whitesmoke;
}

.grid-subtitle {
  color: #737373;
  margin: 20px;
}

.grid-title {
  color: #252B42;
  font-size: 33px;
}

.product-title {
  font-weight: lighter;
  font-size: smaller;
}

.product-price {
  font-weight: bold;
  font-size: smaller;
  color: #23856D;
}

.product-image {
  width: 235px;
  height: 427px;
  padding-top: 80px
}