<h1>{{ collection.title }}</h1>

{% paginate section.settings.collection.products by 10 %}
  {% for product in section.settings.collection.products %}
    {% render 'product-card', product: product %}
  {% endfor %}
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}{% endif %}
{% endpaginate %}
